# .gitignore
# Erstmal alles ignorieren
*
!.gitignore

## Only include this folders
!/MyFirstWinMauiApp/
!/MyFirstWinMauiApp/**

!/MauiMvvmTest/
!/MauiMvvmTest/**

!/BarChartMauiLiveCharts/
!/BarChartMauiLiveCharts/**

!/MauiTableViewExample/
!/MauiTableViewExample/**

!/MauiDictionaryMvvmExample01/
!/MauiDictionaryMvvmExample01/**

!/MauiTypeDependentView/
!/MauiTypeDependentView/**

!/MauiPages/
!/MauiPages/**

!/FlyoutPageNavigation/
!/FlyoutPageNavigation/**

!/MauiMixedShellNavigation/
!/MauiMixedShellNavigation/**












